<header></header>
<div class="welcomeWrapper" ng-controller="homeController">
    <div class="logoDiv">
        <img class="bramLogo wow fadeIn" data-wow-delay="0.5s" src="./application/img/bramb.png"/>
    </div>
    <div class="scrollDiv">
        <i class="fa fa-angle-down fa-4x arrowIcon hovering" scroll-to-item scroll-to="#whoAmIDiv" aria-hidden="true"></i>
    </div>

</div>


<div class="whoAmI" id="whoAmIDiv">
    <p class="titleText wow fadeIn">Bram Van den Bunder</p>
    <p class="normalText wow fadeIn">uw rechtstreekse lijn voor juridische dienstverlening in Avelgem</p>
</div>

<div class="tileWrapper">
    <div class="imgTile1">
        <p class="wow fadeIn" >Na het behalen van het diploma van Master in de Rechten (Universiteit Gent, 2012, met onderscheiding), deed Bram Van den Bunder veelzijdige werkervaring op onder het stagemeesterschap van Mr. Claude Van Marcke te Anzegem, zowel in het burgerlijk- en strafrecht (familiaal contentieux, huur, contracten, aanneming, pachtwetgeving…) als in het ondernemingsrecht (incasso, handelsrecht, vennootschappen,…) . In 2015 richtte Bram een bijkantoor op te Avelgem.</p>
    </div>
    <div class="imgTile2">
        <p class="wow fadeIn" data-wow-delay="0.5s">Naast een algemene rechtspraktijk waarin met u kan worden meegedacht over iedere juridische problematiek, legt meester Van den Bunder zich in het bijzonder toe op het strafrecht in al zijn facetten. Dit gaande van bijstand bij het eerste verhoor (Salduz) tot verdediging voor de Jeugdrechtbank, Politierechtbank en Correctionele Rechtbank, dit zowel aan de zijde van de beklaagde als de burgerlijke partij.</p>
    </div>
    <div class="imgTile3">
        <p class="wow fadeIn" data-wow-delay="1s">Bram Van den Bunder is voltijds medewerker bij Van Marcke Advocaten (<a target="_blank" href="http://www.van-marcke.be">www.van-marcke.be</a>) te Anzegem, dat met zijn jarenlange praktijkervaring een belangrijke regionale speler is in de markt van juridische dienstverlening, waarbij een persoonlijke en pragmatische aanpak hoog in het vaandel worden gedragen.</p>
    </div>
</div>

<div class="achievementsWrapper">
    <div class="achievement">
        <div><img src="./application/img/bramb.png"></div>
        <p>In 2015-2016 volgde Bram de gecertificeerde opleiding Jeugdrecht, georganiseerd door de Orde van Vlaamse Balies.</p>
    </div>
    <div class="achievement darker">
        <div><img src="./application/img/bramb.png"></div>
        <p>Sedert 2014 is Bram bestuurslid van de Conferentie van de Jonge Balie Kortrijk (<a target="_blank" href="http://www.cjbkortrijk.be">www.cjbkortrijk.be</a>), waarvan hij sedert 2016 de penningmeester is.</p>
    </div>
</div>

<div class="contactWrapper">
    <div class="contactBram">
        <h1>CONTACT</h1>

                <p>Kasteelstraat 15 <br/>8580 Avelgem</p>
                <p>0491 07 09 04 <br/>bram.vandenbunder@advocaat.be</p>
                <a class="social" target="_blank"   href="https://www.linkedin.com/in/bram-van-den-bunder-64a60245"><i class="fa fa-linkedin"></i></a>

    </div>
    <div class="contactVM">
        <div><a href="http://www.van-marcke.be/start/" target="_blank"><img src="./application/img/vanmarcke.png" /></a></div>
    </div>
</div>


